<div class="form-group">
  <label for="exampleInputEmail1">Votre Nom:</label>
  <input type="text" class="form-control" id="exampleInputEmail1" required="true" aria-describedby="emailHelp" [(ngModel)]="nom" placeholder="Votre nom...">
  <label for="exampleInputEmail1">Votre message:</label>
  <textarea type="text" rows="5" cols="33" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="texte" placeholder="votre message..."></textarea>
<button type="submit" class="btn btn-primary" (click)="envoyer()">Submit</button>
